* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
html {
	font-size: 62.5%;
}
.content {
	display: flex;
	align-items:flex-start;
	justify-content:space-between;
	flex-flow:row wrap;
}
.item-1 {
		border:1px solid #f00;
		height: 12rem;
		flex: 0 0 15rem;
		margin-top: 2rem;
}
.item-2 {
		border:1px solid #f00;
		height: 10rem;
		flex: 0 0 15rem;
		margin-top: 2rem;
}
.item-3 {
		border:1px solid #f00;
		height: 4rem;
		flex: 0 0 15rem;
		margin-top: 2rem;
}
.item-4 {
		border:1px solid #0f0;
		height: 20rem;
		flex: 0 0 15rem;
		margin-top: 2rem;
		order:-1;
}
@media all and (min-width: 640px) {
	.content {
		display: flex;
		align-items:center;
		justify-content:space-between;
		flex-flow:row nowrap;
	}
	.item-1 {
		border:1px solid #f00;
		height: 12rem;
		flex: 1 1 15rem;
		margin: 2rem;
	}
	.item-2 {
		border:1px solid #f00;
		height: 10rem;
		flex: 1 1 15rem;
		margin: 2rem;
	}
	.item-3 {
		border:1px solid #f00;
		height: 4rem;
		flex: 1 1 15rem;
		margin: 2rem;
	}
	.item-4 {
		border:1px solid #0f0;
		height: 20rem;
		flex: 1 1 15rem;
		margin: 2rem;
		order:0;
	}
}
