*{
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	background-color: #fff;
}

/***********/
.container {
	position: relative;
	width: 100%;
	height: 40rem;
}

.container .content {
	background-color: #ccc;
	position: absolute;
	height: 20rem;
	width: 40rem;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
}
.container .content span:nth-child(1) {
	position: absolute;
	display: inline-block;
	top: -50px;
	left: -50px;
	width: 100px;
	height: 100px;
	background-color: #fc0;
	border-radius: 50%;
	border:1px solid #fc0;
}
.container .content span:nth-child(2) {
	position: absolute;
	display: inline-block;
	bottom: -50px;
	right: -50px;
	width: 100px;
	height: 100px;
	background-color: #fc0;
	border-radius: 50%;
	border:1px solid #fc0;
}